*body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #f2efee;
}
  ul{
    display: flex;
    list-style: none;
    
  }
  ul a{
    color: black;
    text-decoration: none;
  }
  ul li{
    width: 100px;
    align-items: end;
    justify-content: right;
  }
article{
    display: flex;
}


#blanche{
display: flex;
}


    
header{
    width: 100%;
}

#photoHeader{
    width: 50%;
}

#sectionHeader{
    width: 100%;
    display: flex;

    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#46352A
}


#card{
  
    gap: 10%;
    display: flex
;
    justify-content: center;
}
.eco{
  border: solid;
}

  