*body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    display:flex
    justify-content:space-between
    align-items:center
}
.mac{
align-items: end;
}
    





